:root{
    --branco: #ffffff;
    --cinza: #333;
    --preto: rgba(0, 0, 0, 0.1);
    --azul: #007bff;
    --cinza_claro: #c4c4c4;
}

/* Estilos gerais para a página */

body {
    font-family: sans-serif;
    background-color: var(--branco);
    color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* O contêiner principal que centraliza nosso conteúdo */
.container {
    background-color: var(--branco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--preto);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    color: var(--azul);
}

p {
    color: var(--cinza);
    margin-bottom: 20px;
}

/* Estilizando nossa área de texto (textarea) */
#blocoDeNotas {
    width: 100%;
    height: 200px;
    padding: 15px;
    border: 1px solid var(--cinza_claro);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    resize: vertical; /* Permite que o usuário redimensione a altura */
}

#blocoDeNotas:focus {
    outline: none;
    border-color: var(--azul);
    box-shadow: 0 0 5px var(--azul);
}

.butao{
    color: var(--branco);
    background-color: var(--azul);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.dark{
    background-color: black;
}